build
build-tests
.cache
compile_commands.json
.settings
quantized_looper/build
quantized_looper/compile_commands.json
quantized_looper/.settings/bundles.store.json
quantized_looper/.settings/bundles-lock.store.json
quantized_looper/.settings/ide.store.json
tests/build/
tests/.cache/
.vscode/c_cpp_properties.json
.vscode/settings.json
